<h2>Ironhack Cinema</h2>
<p>Click on the movie to check the showtimes</p>

<div >
  {{#each  moviesInfo}}
    <div >
      <img src="{{this.image}}" alt=""movieimage" />
      <h3 class="title">{{this.title}}</h3>
      <a href="/movies/{{this._id}}" class="btn">See more</a>
    </div>
  {{/each}}
</div> 